:root {
  --Neutral-900: #062630;
  --Neutral-700: #385159;
  --Neutral-200: #e6e1df;
  --Neutral-100: #faf5f3;
  --Neutral-0: #ffffff;
  --light-salmon-500: #fea36f;
  --light-salmon-100: #fff5ef;
  --light-salmon-50: #fff5ef;
  --text-gradient: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
  --gradient: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);
}

/* martian-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/martian-mono-v3-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/martian-mono-v3-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* martian-mono-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/martian-mono-v3-latin-600.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/martian-mono-v3-latin-600.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* martian-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/martian-mono-v3-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/martian-mono-v3-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v18-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/inter-v18-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* fira-code-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/fira-code-v22-latin-600.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/fira-code-v22-latin-600.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

body {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.5px;
  color: var(--Neutral-700);
  background-color: var(--Neutral-0);
}

section,
.join {
  max-width: 1210px;
  margin-inline: auto;
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section {
  margin-block-start: 120px;
  h2 {
    color: var(--Neutral-900, #062630);
    font-family: 'Martian Mono';
    font-size: 50px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -2px;
  }
}

header {
  min-height: 100vh;
  background-color: var(--Neutral-100);
  background-image: url(../images/vector.svg);
  border-image-width: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: space-between;

  .empty {
    color: transparent;
    background-color: transparent;
    height: 1px;
  }

  &::after {
    content: '';
    position: absolute;
    background-image: url(../images/Glow.svg);
    width: 684px;
    height: 684px;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    transform: translateX(25%) translateY(25%);
  }
  .logo {
    max-width: 1215px;
    width: 100%;
    padding-inline: 20px;
    display: flex;
    justify-content: start;
    margin-inline: auto;
    margin-block-start: 24px;
    img {
      display: block;
      height: 36px;
    }
  }
  .join {
    gap: 64px;
    .join-text {
      max-width: 570px;
      max-height: 490px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 32px;
      .join-text-top {
        display: flex;
        flex-direction: column;
        gap: 24px;
        h1 {
          font-family: 'Martian Mono';
          font-size: 7.57vh;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
          letter-spacing: -2px;
          background: var(--text-gradient);
          background-clip: text;
          color: transparent;
        }
      }
      .join-text-bottom {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .clients {
          display: flex;
          align-items: flex-end;
          gap: 12px;
          max-width: 388px;
          height: 45px;
          img {
            display: block;
            width: 110px;
            height: 40px;
          }
          .clients-text {
            display: flex;
            flex-direction: column;
            gap: 4px;
            justify-content: space-between;
            div {
              width: 120px;
              height: 24px;
              background-image: url(../images/icon-star.svg);
            }
            p {
              display: block;
              font-family: 'Martian Mono';
              font-size: 14px;
              line-height: 120%;
              letter-spacing: -1px;
            }
          }
        }
      }
    }
    .img {
      max-width: 540px;
      width: 42vw;
      max-height: 606px;
      height: 74vh;
      overflow: hidden;
      align-content: center;
      img {
        display: block;
        width: 100%;
      }
    }
  }
}

.button {
  display: flex;
  width: 380px;
  height: 64px;
  justify-content: center;
  align-items: center;
  padding-inline-start: 10px;
  padding-inline-end: 50px;
  border-radius: 8px;
  border: 2px solid var(--Neutral-900, #062630);
  background-color: var(--light-salmon-50, #fff5ef);
  font-family: 'Martian Mono', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: var(--Neutral-900, #062630);
  position: relative;
  transition: all 0.5s ease-in-out 0s;
  &::after {
    content: '';
    background-image: url(../images/icon-arrow-down.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 22px;
  }
  &::before {
    content: 'Review membership options';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: var(--gradient);
    opacity: 0;
    align-content: center;
    padding-inline-start: 24px;
    transition: opacity 0.5s ease-in-out 0s;
  }
  &:hover::before {
    opacity: 1;
  }
  &:active {
    border: 2px solid var(--Neutral-900, #062630);
    background: var(--gradient);
    box-shadow: 0px 0px 0px 3px #fff,
      0px 0px 0px 5px var(--Neutral-700, #385159);
  }
}

.read,
.average {
  gap: 80px;
  .big-img {
    width: 560px;
    height: 520px;
    width: 100%;
    img {
      display: block;
      object-fit: contain;
      border-radius: 20px;
      width: 560px;
      height: 520px;
      max-width: fit-content;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 34px;
    div {
      max-width: 431px;
      gap: 24px;
      padding-inline-start: 42px;
      p {
        position: relative;
      }
      p::after {
        content: '';
        position: absolute;
        background-image: url(../images/icon-check.svg);
        width: 28px;
        height: 28px;
        top: 50%;
        left: -42px;
        transform: translateY(-50%);
      }
    }
  }
}

.average {
  div > div {
    padding-inline-start: 0px;
    max-width: 100%;
  }
}
.average {
  position: relative;
  div {
    h2 {
      .oval {
        display: inline-block;
        position: relative;
      }
      .oval::before {
        content: '';
        background-image: url(../images/pattern-circle.png);
        position: absolute;
        width: 158px;
        height: 100%;
        top: 0;
        left: -16px;
      }
    }
    div {
      display: block;
      .bold {
        font-weight: 600;
      }
    }
  }
  &::before {
    content: '';
    background-image: url(../images/logos-tech.svg);
    position: absolute;
    width: 120px;
    height: 138px;
    bottom: 31px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.journey {
  flex-direction: column;
  gap: 64px;
  min-height: 454px;
  justify-content: center;
  color: var(--Neutral-900);
  font-family: 'Martian Mono';
  font-weight: 600;
  border-radius: 12px;
  background: var(--Neutral-100, #faf5f3);
  background-image: url(../images/vector.svg);
  overflow: hidden;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    background-image: url(../images/Glow.svg);
    width: 684px;
    height: 684px;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    transform: translateX(25%) translateY(25%);
  }
  h2 {
    line-height: 120%;
    max-width: 512px;
    text-align: center;
  }
  div {
    display: flex;
    gap: 48px;
    max-width: 1050px;
    margin-inline: auto;
    justify-content: space-between;
    div {
      display: flex;
      flex-direction: column;
      gap: 24px;
      justify-content: space-between;
      max-width: 226px;
      position: relative;
      .num {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        border: 2px solid var(--Neutral-900);
        align-content: center;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.24px;
      }
      p {
        font-size: 18px;
        line-height: 130%;
        letter-spacing: -0.18px;
      }
      &::after {
        content: '';
        width: 80px;
        height: 24px;
        position: absolute;
        background-image: url(../images/pattern-arrow.svg);
        top: 0;
        right: 0;
      }
    }
  }
}

.membership {
  flex-direction: column;
  max-width: 970px;
  padding-inline: 0;
  min-height: 519px;
  gap: 64px;
  justify-content: space-between;
  div {
    display: flex;
    flex-direction: row;
    max-width: 970px;
    width: 100%;
    min-height: 390px;
    justify-content: space-between;
    align-items: center;
    article {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 286px;
      height: 358px;
      padding: 24px;
      position: relative;
      border-radius: 8px;
      border: 1px solid var(--Neutral-200, #e6e1df);
      background: var(--Neutral-0, #fff);
      .option-name {
        font-family: 'Martian Mono';
        font-size: 24px;
        font-weight: 600;
        line-height: 110%;
        letter-spacing: -1px;
        color: var(--Neutral-900);
      }
      .option-price {
        padding-block-end: 24px;
        border-bottom: 1px solid var(--Neutral-200);
      }
      .big {
        font-family: 'Martian Mono';
        font-size: 34px;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: -1px;
        color: var(--Neutral-900);
        margin-inline-end: 8px;
      }
      .option-items {
        max-width: 238px;
        min-height: 72px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding-inline-start: 36px;

        p {
          position: relative;
        }
        p::after {
          content: '';
          position: absolute;
          background-image: url(../images/icon-check.svg);
          background-repeat: no-repeat;
          width: 24px;
          width: 100%;
          height: 24px;
          height: 100%;
          top: 50%;
          left: 0;
          transform: translate(-36px, -50%);
        }
      }
    }

    .starter {
      .button {
        &::before {
          content: 'Subscribe now';
        }
      }
    }

    .pro {
      width: 350px;
      height: 390px;
      padding-block: 40px;
      background: var(--Neutral-100, #faf5f3);
      position: relative;
      overflow: hidden;
      &::after {
        content: '';
        position: absolute;
        background-image: url(../images/Glow.svg);
        width: 684px;
        height: 684px;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        transform: translateX(25%) translateY(30%);
      }
      .button {
        &::before {
          content: 'Subscribe now';
        }
      }
    }
    
    .enterprise {
      .button {
        &::before {
          content: 'Talk to us';
        }
      }
    }
    .button {
      width: 100%;
      padding-inline-end: 10px;
      z-index: 2;
      &::after {
        display: none;
      }
      &::before {
        text-align: center;
        padding-inline-start: 0;
      }
    }
  }
}
.feedback {
  flex-direction: column;
  max-width: 970px;
  padding-inline: 0;
  padding-block-end: 120px;
  min-height: 296px;
  gap: 32px;
  justify-content: space-between;
  h2 {
    display: none;
  }
  div {
    width: 164px;
    height: 28px;
    background-image: url(../images/icon-star.svg);
    background-size: 34px 28px;
  }
  blockquote {
    color: var(--Neutral-900, #062630);
    text-align: center;
    font-family: 'Martian Mono';
    font-size: 34px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -1px;
  }
}

footer {
  min-height: 521px;
  background-color: var(--Neutral-900);
  color: var(--Neutral-100);
  border-radius: 16px 16px 0px 0px;
  font-family: 'Martian Mono', sans-serif;

  section {
    margin-block-start: 0;
    padding-block-start: 80px;
    min-height: 441px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h2 {
      display: block;
      color: inherit;
      max-width: 685px;
      height: 130px;
      text-align: center;
      margin-block-end: 40px;
    }

    .button {
      margin-block-end: 24px;
      border: 2px solid var(--Neutral-0, #fff);
      background-color: var(--Neutral-900, #062630);
      color: var(--Neutral-0);
      &::after {
        background-image: url(../images/icon-arrow-up.svg);
      }
      &::before {
        background: linear-gradient(
          90deg,
          var(--Neutral-700, #385159) 0%,
          var(--Neutral-900, #062630) 100%
        );
      }
      &:active {
        border: 2px solid var(--Neutral-0, #062630);
        background: linear-gradient(
          90deg,
          var(--Neutral-700, #385159) 0%,
          var(--Neutral-900, #062630) 100%
        );
        box-shadow: 0px 0px 0px 3px var(--Neutral-900, #062630),
          0px 0px 0px 5px var(--Neutral-200, #e6e1df);
      }
    }

    .developers {
      display: flex;
      gap: 12px;
      justify-content: space-between;
      align-items: flex-end;
      img {
        width: 110px;
        height: 40px;
      }
      .clients-text {
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: space-between;
        div {
          width: 120px;
          height: 24px;
          background-image: url(../images/icon-star.svg);
        }
        p {
          color: #faf5f3;
          display: block;
          font-size: 14px;
          line-height: 120%;
          letter-spacing: -1px;
        }
      }
    }

    .bottom {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      margin-block-start: 80px;
      align-items: center;
      border-top: 1px solid var(--Neutral-700, #385159);
      p {
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -1px;
      }
      div {
        display: flex;
        flex-direction: row;
        gap: 24px;
        height: 70px;
        align-items: center;
        img {
          width: 22px;
          height: 22px;
          transition: all 0.5s ease-in-out;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}
