@media (max-width: 1050px) {
  section,
  .join {
    flex-direction: column;
    margin-inline: 32px;
    padding-inline: 0;
  }
  section {
    margin-block-start: 80px;
  }
  header {
    gap: 64px;
    .join {
      .join-text {
        max-width: none;
        max-height: none;
      }
      .img {
        width: 100%;
        max-width: none;
        height: auto;
      }
    }
  }

  main {
    .read,
    .average {
      gap: 40px;
      div {
        width: 100%;
        /* order: 1; */
        align-self: start;
        h2 {
          max-width: 600px;
        }
        div {
          max-width: none;
          width: 100%;
        }
      }
      .big-img {
        width: 100%;
        height: auto;
        order: 2;
        img {
          width: 100%;
          object-fit: cover;
          height: fit-content;
          position: relative;
        }
      }
    }
    .average {
      &::before {
        bottom: 50px;
        left: auto;
        right: 0px;
      }
    }
    .journey {
      display: none;
    }
    .membership {
      max-width: 704px;
      margin-inline: auto;
      h2 {
        align-self: flex-start;
      }
      div {
        max-width: 704px;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 24px;
        article {
          input[type='radio'] + label,
          input[type='radio']:checked + label {
            width: 340px;
            height: 358px;
            padding-block: 24px;
          }
        }
      }
    }
    .feedback {
      align-items: flex-start;
      padding-block-end: 80px;
      p {
        text-align: start;
      }
    }
  }
}
